@model HomeViewModel
@using GPSPOIpontok.Domain;
@{
    ViewData["Title"] = "Home Page";
}

    <h1>Map Viewer</h1>
    <article>
        <h3>Introduction</h3>
    </article>
    <section>
    <aside>
        <h5>Maps</h5>
        <table>
            @{
                int i = 0;
                foreach (Map map in Model.Maps)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(map.Name,"ChooseMap","Home",new { i },new { })
                        </td>
                    </tr>
                    i++;
                }
            }
        </table>
    </aside>
    <article>
        <h4>Map Information</h4>
        <ul>
            <li>Name: @(Model.SelectedMap is not null?Model.SelectedMap.Name:"")</li>
            <li>Direction: @(Model.SelectedMap is not null ? Model.SelectedMap.MapDirection.ToString() : "")</li>
            <li>Ratio: @(Model.SelectedMap is not null ? Model.SelectedMap.MapRatio : "")</li>
            <li>Coordinates: @(Model.SelectedMap is not null ? Model.SelectedMap.MinimumCoordinate  + " - " + Model.SelectedMap.MaximumCoordinate : "")</li>
            <li>
                Image: <br />
                @{
                    if (Model.SelectedMap is not null)
                    {
                        <img width="300vw" height="300vw" src='~/Map.png' />
                    }
                }
            </li>
        </ul>
        @{
            if (Model.SelectedMap is not null)
            {
                @Html.ActionLink("View Map","ViewMap","Map",new { Model.SelectedMap },new { })
            }
        }
    </article>
    </section>
    