@model CreateMapViewModel
@using GPSPOIpontok.Domain;
@{
	ViewData["Title"] = "Create Map";
}
<form method="post" asp-action="CreateMap" asp-controller="CreateMap" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <table>
        <tr>
            <th colspan="2"> <label for="Image">Image</label></th>
        </tr>
        <tr>
            <td colspan="2">
                <input type="file" name="Image" value="@(Model.Image??null)"><br />
                <span asp-validation-for="Image"></span>
            </td>
        </tr>
        <tr>
            <th colspan="2"><label for="MapName">Name</label></th>
         
        </tr>
        <tr>
            <td colspan="2"> 
                <input type="text" name="MapName" value="@(Model.MapName??"")"/><br />
                <span asp-validation-for="MapName"></span>
            </td>
        </tr>
    <tr>
        <th colspan="2">
    <label>Ratio</label>
            </th>
        </tr>
        <tr>
            <td><label for="Lesser">Lesser</label></td>
            <td><label for="Greater">Greater</label></td>
        </tr>
        <tr>
            <td>
                <input type="number" name="Lesser" value="@(Model.Lesser is not null?Model.Lesser.ToString():"")" /><br />
                <span asp-validation-for="Lesser"></span>
            </td>
            <td>
                <input type="number" name="Greater" value="@(Model.Greater is not null?Model.Greater.ToString():"")" /><br />
                <span asp-validation-for="Greater"></span>
            </td>
        </tr>
    <tr>
        <th colspan="2">
    <label>Minimum Coordinates</label>
            </th>
        </tr>
        <tr>
            <td>
    <label for="MinCoordinateLatitude">Latitude: </label>
            </td>
            <td>
                <label for="MinCoordinateLongitude">Longitude: </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="MinCoordinateLatitude" value="@(Model.MinCoordinateLatitude is not null?Model.MinCoordinateLatitude.ToString():"")" /><br />
                <span asp-validation-for="MinCoordinateLatitude"></span>
            </td>
            <td>
                <input type="number" name="MinCoordinateLongitude" value="@(Model.MinCoordinateLongitude is not null?Model.MinCoordinateLongitude.ToString():"")" /><br />
                <span asp-validation-for="MinCoordinateLongitude"></span>
            </td>
        </tr>
    <tr>
        <th colspan="2">
                <label>Maximum Coordinates</label>
        </th>
    </tr>
    <tr>
            <td><label for="MaxCoordinateLatitude">Latitude: </label></td>
            <td>   <label for="maxlongitude">Longitude: </label></td>
    </tr>
    <tr>
            <td>
                <input type="number" name="MaxCoordinateLatitude" value="@(Model.MaxCoordinateLatitude is not null?Model.MaxCoordinateLatitude.ToString():"")" /><br />
                <span asp-validation-for="MaxCoordinateLatitude"></span>
            </td>
            <td>
                <input type="number" name="MaxCoordinateLongitude" value="@(Model.MaxCoordinateLongitude is not null?Model.MaxCoordinateLongitude.ToString():"")" /><br />
                <span asp-validation-for="MaxCoordinateLongitude"></span>
            </td>
    </tr>
    <tr>
            <th colspan="2"><label>Direction</label></th>
    </tr>
    <tr>
            <td colspan="2">
                <input type="radio" name="Direction" value="North" @(Model.Direction == Direction.North?"checked":"")>
                <label for="Direction">North</label><br />
                <input type="radio" name="Direction" value="East" @(Model.Direction == Direction.East?"checked":"")>
                <label for="Direction">East</label><br />
                <input type="radio" name="Direction" value="South" @(Model.Direction == Direction.South?"checked":"")>
                <label for="Direction">South</label><br />
                <input type="radio" name="Direction" value="West" @(Model.Direction == Direction.West?"checked":"")>
                <label for="Direction">West</label><br />
                <span asp-validation-for="Direction"></span>
            </td>
    </tr>
    </table>
    <input type="submit" value="Add Map" />
</form>
